<head>
    <title>TheHikeExchange - Discover</title>
</head>

<body>

<!-- SEARCH OPTIONS PAGE -->
{{#unless post}}
<div class="pageHeader" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/search_hike.jpg');">
      <div class="pageHeaderContent formFix2">
          <div class="row">
              <div class="col">
                  <h1>Explore the HikeBase</h1>
                  <p>Search the HikeBase and discover a new hike today!</p>
              </div>    
          </div> 

          <div class="container">
              <form class="hikeForm" action="discover_hike" method="post">
                  <div class="row">
                      <div class="col searchForm form-group">
                          <select class="form-control" id="exampleFormControlSelect1" name="region" placeholder="Select region">
                              <option>Paris-region</option>
                              <option>Marseille-region</option>
                              <option>Lyon-region</option>
                              <option>Toulouse-region</option>
                              <option>Nice-region</option>
                          </select>
                      </div>
                      <div class="col searchForm form-group">
                          <select class="form-control" id="exampleFormControlSelect1" name="duration" placeholder="Select time duration">
                              <option>&lt; 1 hour</option>
                              <option>1-2 hour(s)</option>
                              <option>2-3 hours</option>
                              <option>3-5 hours</option>
                              <option>Daytrip (>5 hours)</option>
                          </select>
                      </div>
                      <div class="col searchForm form-group">
                          <select class="form-control" id="exampleFormControlSelect1" name="difficulty" placeholder="Select difficulty level">
                              <option>Easy</option>
                              <option>Medium</option>
                              <option>Hard</option>
                          </select>
                      </div>
                  </div>
                
              <div class="row">
                  <div class="col-1">
                  </div>    
                  <div class="col-10">
                      <center><button type="submit" class="btn btn-search btn-outline-secondary submit-btn">
                          Search HikeBase</button></center>
                  </div>
                  <div class="col-1">
                  </div>    
              </div>
              </form>    
          </div>

      </div>
</div>
{{/unless}}

<!-- SEARCH RESULTS -->
{{#if post}}
    <div class="srchBkg">
        <div class="newHikes searchBot">
        <h4>Search Results for the {{region}}, {{duration}} long and {{difficulty}} difficulty</h4>
        </div>

        {{#each hikedata}}

        <div class="hikeGrid">    
            <div class="ph">
            <img src="images/exampleHike2.jpg" class="hikeImage" alt="Image from your hike" style="align-content: left">
            </div>

            <div class="na">
            <a href="/hike{{_id}}"><h4>{{hikeName}}</h4></a>
            </div>

            <div class="Na">
            <p>By: {{firstName}} {{lastName}}</p>
            </div>

            <div class="De">
            <p>{{descripShort}}</p>
            </div>

            <div class="re">
            <p>Region: {{region}}</p>
            </div>

            <div class="du">
            <p>Time: {{duration}}</p>
            </div>

            <div class="di">
            <p>Difficulty: {{difficulty}}</p>
            </div>
        </div>

        {{/each}}
    </div>
{{/if}}

</body>