<head>
    <title>HikeExchange - Hike</title>
</head>

<body class="pageBody">

{{#each hikedata}}

<div class="hikePage">
            <div class="hikeName">
            <h1>{{hikeName}}</h1>
            </div>

            <div class="margin2">
            <img src={{photoURL}} class="hikeImage2" alt="Image from your hike">
            </div>

        <div class="row center-align">
            <div class="col-sm-3">
            <h4><span class="thinText">By:</span><br> {{firstName}} {{lastName}}</h4>
            </div>

            <div class="col-sm-3">
            <h4><span class="thinText">Region:</span><br> {{region}}</h4>
            </div>

            <div class="col-sm-3">
            <h4><span class="thinText">Time:</span><br> {{duration}}</h4>
            </div>

            <div class="col-sm-3">
            <h4><span class="thinText">Difficulty:</span><br> {{difficulty}}</h4>
            </div>
        </div>

            <div class="descriptionBox">
            <p>{{description}}</p>
            </div>
        
</div>

{{/each}}

</body>