<head>
  <title>TheHikeExchange - Home</title>
  
</head>

<body>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/FullSizeRender.jpg');">
      <div class="banner-content">
        <h1>The HikeExchange</h1>
        <p>Discover and share your favorite hikes</p>
        <div class="row">
            <div class="col-6">
              <a class="btn btn-outline-secondary banner-btn" href="/discover_hike">Search hikes</a>
            </div>
            <div class="col-6">
              <a class="btn btn-outline-secondary banner-btn" href="/share_hike_form">Share hikes</a>
            </div>  
        </div>
      </div>
    </div>

<!-- Latest 3 Hikes -->    

<div class="newHikes">
  <h4>Latest additions to the HikeBase</h4>
</div>

{{#each hikedata}}

  <div class="hikeGrid">    
    <div class="ph">
      <img src={{photoURL}} class="hikeImage" alt="Image from your hike" style="align-content: left">
    </div>

    <div class="na">
      <a href="/hike{{_id}}"><h4>{{hikeName}}</h4></a>
    </div>

    <div class="Na">
      <p>By: {{firstName}} {{lastName}}</p>
    </div>

    <div class="De">
      <p>{{descripShort}}</p>
    </div>

    <div class="re">
      <p>Region: {{region}}</p>
    </div>

    <div class="du">
      <p>Time: {{duration}}</p>
    </div>

    <div class="di">
      <p>Difficulty: {{difficulty}}</p>
    </div>
  </div>

{{/each}}

</body>