<h1>hello</h1>

{{#each hikedata}}
<div>
    <h4>By {{firstName}} {{lastName}}</h4>
    <h6>Region: {{region}}</h6>
    <h6>Duration: {{duration}}</h6>
    <h6>Difficulty: {{difficulty}}</h6>
    <br>
</div>
{{/each}}